<div class="container content">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-8 mt-5" id="login-box">




            <div class="card">
                <div class="card-header  theme-bgcolor-2 text-white card-title">
                    <h2>Sign In</h2>
                </div>
                <div class="card-body theme-color-5">
                    <div class="card-text">
                        <form [formGroup]="formDataValue" (ngSubmit)="checkUser(formDataValue.value)">
                            <div class="form-group">
                                <label for="username" class="theme-color-5">Username</label>
                                <input type="email" class="form-control" id="username" placeholder="Enter Email Id"
                                    autocomplete="off" formControlName="username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="theme-color-5">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" formControlName="password">
                            </div>


                            <button type="submit" class="btn theme-bgcolor-2 text-white mt-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
