<div class="content">
  <div id="section1">
    <div>
      <h1>Learn from anything to Everything!!</h1>
      <h6>Explore Unlimited Courses from the best instructors in the world.</h6>
      <a [routerLink]="['trainings','browse']" class="btn theme-bgcolor-2 text-white mt-2"
        >Explore Courses</a
      >
    </div>
  </div>
  <div class="row" id="section2">
    <div class="col-lg-4 col-md-12 col-sm-12 ">
      <div class="card border-dark custom-card">
        <div class="m-auto">
          <img
            src="assets/certification.png"
            alt="certification"
            class="icon"
          />
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">Top Certified Courses</h5>
          <p class="card-text">
            Handpick from the best certified courses available from the best
            instructors in the world
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 p-0">
      <div class="card border-dark custom-card">
        <div class="m-auto">
          <img src="assets/video.png" alt="video" class="icon" />
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">Top Course Material</h5>
          <p class="card-text">
            The courses come with different types of resourses for better
            learning
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 p-0">
      <div class="card border-dark custom-card" style="max-width: 18rem;">
        <div class="m-auto">
          <img src="assets/money.png" alt="money" class="icon" />
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">Value for Money</h5>
          <p class="card-text">
            The entire cost can be done based at your choice of time at
            affordable rates.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
