<div class="container content">
    <!-- container content begin -->
    <div id="content-box">
      <div class="jumbotron">
        <h1 class="display-6 theme-color-5">Completed Trainings</h1>
        <hr class="my-3" />

        <div *ngFor="let course of trainingCompletedData; let i= index" >
        <div class="row" *ngIf="i% 3 == 0">
          <div class="col-lg-3 col-sm-10 ml-auto mr-auto mt-4" *ngIf="i < trainingCompletedData.length" >
            <div class="card">
              <img src="../../../assets/course-img.png" class="card-img-top" alt="technology-name">
              <div class="card-body">
                <h4>Course Id: {{trainingCompletedData[i].courseId | uppercase}}</h4>
                <h5>Trainer Name : {{trainingCompletedData[i].trainerName | titlecase}}</h5>
                <h6>Technology: {{trainingCompletedData[i].technology}}</h6>
                <h6>Charges: {{trainingCompletedData[i].charges | currency:"INR"}}</h6>
                <h6>Started Date : {{trainingCompletedData[i].startDate}}</h6>
                <h6>Ended Date : {{trainingCompletedData[i].endDate}}</h6>
              </div>
            </div>

          </div>


          <div class="col-lg-3 col-sm-10 ml-auto mr-auto mt-4" *ngIf="i + 1 < trainingCompletedData.length" >
              <div class="card">
                <img src="../../../assets/course-img.png" class="card-img-top" alt="technology-name">
                <div class="card-body">
                  <h4>Course Id: {{trainingCompletedData[i+1].courseId | uppercase}}</h4>
                <h5>Trainer Name : {{trainingCompletedData[i+1].trainerName | titlecase}}</h5>
                <h6>Technology: {{trainingCompletedData[i+1].technology}}</h6>
                <h6>Charges: {{trainingCompletedData[i+1].charges | currency:"INR"}}</h6>
                <h6>Started Date : {{trainingCompletedData[i+1].startDate}}</h6>
                <h6>Ended Date : {{trainingCompletedData[i+1].endDate}}</h6>

                </div>
              </div>

            </div>


            <div class="col-lg-3 col-sm-10 ml-auto mr-auto mt-4" *ngIf="i + 2 < trainingCompletedData.length" >
                <div class="card">
                  <img src="../../../assets/course-img.png  " class="card-img-top" alt="technology-name">
                  <div class="card-body">
                    <<h4>Course Id: {{trainingCompletedData[i+2].courseId | uppercase}}</h4>
                    <h5>Trainer Name : {{trainingCompletedData[i+2].trainerName | titlecase}}</h5>
                    <h6>Technology: {{trainingCompletedData[i+2].technology}}</h6>
                    <h6>Charges: {{trainingCompletedData[i+2].charges | currency:"INR"}}</h6>
                    <h6>Started Date : {{trainingCompletedData[i+2].startDate}}</h6>
                    <h6>Ended Date : {{trainingCompletedData[i+2].endDate}}</h6>

                  </div>
                </div>

              </div>


        </div >
      </div>

      </div>



    </div>


    <!-- container -content close -->
  </div>
