
<div class="container content">
  <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-8 mt-5" id="login-box">

            <app-alert [alert]="alertMessage"></app-alert>


          <div class="card">
              <div class="card-header  theme-bgcolor-2 text-white card-title">
                  <h2>Mentor - Sign Up</h2>
              </div>
              <div class="card-body theme-color-5">
                  <div class="card-text">



                      <form [formGroup]="formMentor" (ngSubmit)="signUpMentor(formMentor.value,materialType.value)">
                          <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="Enter email" formControlName="username" autocomplete="off" />
                              <small id="emailHelp" class="form-text text-muted">Email address will be your
                                  username.</small>

                          </div>
                          <div class="form-group">
                              <label for="full-name" class="theme-color-5">Full Name</label>
                              <input type="text" class="form-control" id="full-name" placeholder="Enter Full Name"
                                  autocomplete="off" formControlName="fullname">
                          </div>
                          <div class="form-group">
                              <label for="exampleFormControlSelect2">Select Skills</label>
                              <select multiple class="form-control" id="exampleFormControlSelect2" formControlName='mentorSkillControl' >
                                  <option *ngFor="let mentorSkill of mentorSkills" [value]="mentorSkill" >{{mentorSkill.skillName}}</option>
                              </select>
                          </div>

                          <div class="form-group">
                              <label for="select-time-zone">Time Zone</label>
                              <select class="form-control " id="select-time-zone" formControlName="timeZoneControl" >
                                  <option [value]="timeZone.text" *ngFor="let timeZone of timeZones">{{timeZone.text}}</option>
                              </select>
                          </div>

                          <div class="form-group">
                              <label for="exampleFormControlSelect3">Time Slot (Preferred*)</label>
                              <select class="form-control" id="exampleFormControlSelect3" formControlName="timeSlotControl">
                                  <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot.value">{{timeSlot.text}}</option>

                              </select>
                              <small id="timeHelp" class="form-text text-muted">Additional time slots can be
                                  added later.</small>
                          </div>


                          <div class="form-group" id="matrial-type" [formGroup]="materialType">
                              <label class="theme-color-5">Material Type</label> <br>
                              <input type="checkbox" id="matrial-type-video" formControlName="video" class=" form-check-inline mr-2 ml-2">
                              <label for="matrial-type-video">Videos</label>
                              <input type="checkbox" id="matrial-type-blog"formControlName="blog" class=" form-check-inline mr-2 ml-2">
                              <label for="matrial-type-blog">Blog</label>
                              <input type="checkbox" id="matrial-type-ppt" formControlName="ppt" class=" form-check-inline mr-2 ml-2">
                              <label for="matrial-type-ppt">PPTs</label>
                              <input type="checkbox" id="matrial-type-demo" formControlName="demo" class=" form-check-inline mr-2 ml-2">
                              <label for="matrial-type-demo">Demos</label>
                          </div>
                          <div class="form-group">
                              <label for="profile-url" class="theme-color-5">LinkedIn Profile (URL)</label>
                              <input type="text" class="form-control" id="profile-url" formControlName="linkedInUrl">
                          </div>

                          <div class="form-group">
                              <label for="year-exp" class="theme-color-5">Experience (in years)</label>
                              <input type="number" class="form-control" id="year-exp" min="0" formControlName="experience">
                          </div>

                          <div class="form-group">
                              <label for="exampleInputPassword1" class="theme-color-5">Set Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1"
                                  placeholder="Password" formControlName="password">
                          </div>

                          <button type="submit" class="btn theme-bgcolor-2 text-white mt-2">Submit</button>
                      </form>



                  </div>
              </div>
          </div>
      </div>




  </div>
</div>
