<div class="container content">
    <!-- Container Content -->

    <div id="content-box">
        <div class="jumbotron">
            <h1 class="display-6 theme-color-5">Training In Progress</h1>
            <hr class="my-3" />


            <div class="row result-item theme-bgcolor-3 text-white">
                <div class="col-lg-3 col-md-3 col-sm-10">
                    <img src="../../../assets/course-img.PNG" class="progress-result-item-img mt-3" alt="technology-name">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10 pt-3 pb-3">
                    <div class="card theme-color-5 flex">

                        <div class="card-body ml-0 progress-panel ">
                            <h4>Course Name</h4>
                            <h5>Trainer Name 2<span class="progress-status">
                                    <span class="theme-color-2 ">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </span></h5>
                            <h6>Technology <span class="progress-status">
                                    <span class="badge theme-bgcolor-2 p-2 text-white">On Going</span>
                                </span></h6>
                            <label for="formControlRange">Update Progress</label>
                            <input type="range" class="form-control-range" id="formControlRange" min="0" max="100"
                                value="25">
                        </div>
                        <div class="card-footer row flex progress-panel-footer">
                            <div class="progress theme-bgcolor-1 progress-btn">
                                <div class="progress-bar theme-bgcolor-4" role="progressbar" style="width: 25%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div> <span class="progress-status">
                                <button class=" btn theme-bgcolor-2 text-white "> View Progress</button>
                            </span>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row result-item theme-bgcolor-3 text-white">
                <div class="col-lg-3 col-md-3 col-sm-10">
                    <img src="../../../assets/course-img.PNG" class="progress-result-item-img mt-3" alt="technology-name">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10 pt-3 pb-3">
                    <div class="card theme-color-5 flex">

                        <div class="card-body ml-0 progress-panel ">
                            <h4>Course Name</h4>
                            <h5>Trainer Name 2</h5>
                            <h6>Technology <span class="progress-status">
                                    <span class="badge badge-danger p-2 text-white">Rejected</span>
                                </span></h6>
                        </div>
                        <div class="card-footer row flex progress-panel-footer">
                            <span class="progress-status">
                                <button class=" btn theme-bgcolor-2 text-white ">Delete Proposal</button>
                            </span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row result-item theme-bgcolor-3 text-white">
                <div class="col-lg-3 col-md-3 col-sm-10">
                    <img src="../../../assets/course-img.PNG" class="progress-result-item-img mt-3" alt="technology-name">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10 pt-3 pb-3">
                    <div class="card theme-color-5 flex">

                        <div class="card-body ml-0 progress-panel ">
                            <h4>Course Name</h4>
                            <h5>Trainer Name 2</h5>
                            <h6>Technology <span class="progress-status">
                                    <span class="badge badge-warning p-2 text-white">Proposal Pending</span>
                                </span></h6>
                        </div>
                        <div class="card-footer row flex progress-panel-footer">


                        </div>
                    </div>
                </div>
            </div>

            <div class="row result-item theme-bgcolor-3 text-white">
                <div class="col-lg-3 col-md-3 col-sm-10">
                    <img src="../../../assets/course-img.PNG" class="progress-result-item-img mt-3" alt="technology-name">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10 pt-3 pb-3">
                    <div class="card theme-color-5 flex">

                        <div class="card-body ml-0 progress-panel ">
                            <h4>Course Name</h4>
                            <h5>Trainer Name 2</h5>
                            <h6>Technology <span class="progress-status">
                                    <span class="badge badge-success p-2 text-white">Apporved</span>
                                </span></h6>
                        </div>
                        <div class="card-footer row flex progress-panel-footer">
                            <div class="progress theme-bgcolor-1 progress-btn">
                                <div class="progress-bar theme-bgcolor-4" role="progressbar" style="width: 0%"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
                            </div> <span class="progress-status">
                                <button class=" btn theme-bgcolor-2 text-white "> Make Payment</button>
                            </span>

                        </div>
                    </div>
                </div>
            </div>


        </div>











    </div>


</div>