<div class="container content">
    <!-- Container Content -->
    <div class="jumbotron" id="content-box">
      <h1 class="display-6 theme-color-5">Edit Technology</h1>
      <hr class="my-3" />

      <div class="conatiner ">
        <div class="row result-item theme-bgcolor-3 p-2 text-white">
          <form [formGroup]="technologyForm" (ngSubmit)="addTechnology(technologyForm.value)">
          <div class="col-lg-6 col-md-4 col-sm-10 m-auto">
            <input type="text" placeholder="Enter New Technology" formControlName="newTechnology">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10 m-auto">
            <button class="btn theme-bgcolor-2 text-white search-item-btn" type="submit">Add</button>
          </div>
        </form>
        </div>
        <div class="row result-item theme-bgcolor-3 p-2 text-white" *ngFor="let tech of technologyList">
          <div class="col-lg-6 col-md-4 col-sm-10">
            {{tech.name}}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            <button class="btn theme-bgcolor-2 text-white search-item-btn" (click)="deleteTechnology(tech.name)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Container Ends -->
  </div>