<div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link theme-color-5 collapsed" data-toggle="collapse"
                    data-target="#collapseCalendar" aria-expanded="true"
                    aria-controls="collapseCalendar">
                    Add Calendar Event
                </button>
            </h5>
        </div>

        <div id="collapseCalendar" class="collapse" aria-labelledby="headingTwo"
            data-parent="#accordion">
            <div class="card-body">
                <!-- Card Body begin -->
                <div class="row">
                    <div class="col-lg-5 ml-auto mr-auto">
                        <!-- <form>

                            <div class="form-group">
                                <label for="from-date" class="theme-color-5">From date</label>
                                <input type="date" class="form-control" id="from-date">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect3">Time Slot </label>
                                <select class="form-control" id="exampleFormControlSelect3">
                                    <option>8:00 AM - 10:00 AM</option>
                                    <option>9:00 AM - 11:00 AM</option>
                                    <option>10:00 AM - 12:00 NOON</option>
                                    <option>11:00 AM - 1:00 PM</option>
                                    <option>12:00 NOON - 2:00 PM</option>
                                    <option>1:00 PM - 3:00 PM</option>
                                    <option>2:00 PM - 4:00 PM</option>
                                    <option>3:00 PM - 5:00 PM</option>
                                    <option>4:00 PM - 6:00 PM</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect4">Frequency</label>
                                <select class="form-control" id="exampleFormControlSelect4">
                                    <option>Daily</option>
                                    <option>Weekly</option>
                                    <option>Monthly</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect5">Excep. Days</label>
                                <select multiple class="form-control" id="exampleFormControlSelect5">
                                    <option>Sunday</option>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect6">Status</label>
                                <select class="form-control" id="exampleFormControlSelect6">
                                    <option>Available</option>
                                    <option>Busy</option>

                                </select>
                            </div>

                            <button type="submit" class="btn theme-bgcolor-2 text-white mt-2">
                                Add Event
                            </button>
                        </form> -->
                    </div>
                </div>


                <!-- Card end  -->
            </div>
        </div>
    </div>
    <!-- Calendar ends -->
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link theme-color-5 collapsed" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Edit Calendar
                </button>
            </h5>
        </div>

        <div id="collapseThree" class="collapse " aria-labelledby="headingThree"
            data-parent="#accordion">
            <div class="card-body">
                <!-- Card Body begin -->

                <div class="row result-item theme-bgcolor-3 p-2 text-white">
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        From Date
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        Time Slot
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        Frequency
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        Exep. Days
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        Status
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        <button disabled class="btn theme-bgcolor-2 text-white search-item-btn">Delete
                            Timings</button>
                    </div>

                </div>

                <div class="row result-item theme-bgcolor-3 p-2 text-white">
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        From Date
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        Time Slot
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        Frequency
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        Exep. Days
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        Status
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10">
                        <button class="btn theme-bgcolor-2 text-white search-item-btn">Delete
                            Timings</button>
                    </div>

                </div>


                <!-- Card end  -->
            </div>
        </div>
    </div>
