<div class="container content">
        <div class="row">
          <div class="col-lg-5 col-md-8 col-sm-8 mt-5" id="login-box">
            <div class="card">
              <div class="card-header  theme-bgcolor-2 text-white card-title">
                <h2>User - Sign Up</h2>
              </div>
              <div class="card-body theme-color-5">
                <div class="card-text">
                  <form [formGroup]="signUpForm" (ngSubmit)="createUser(signUpForm.value)">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" formControlName="username"/>
                      <small id="emailHelp" class="form-text text-muted">Email address will be your username.</small>
                    </div>
                    <div class="form-group">
                      <label for="full-name" class="theme-color-5">Full Name</label>
                      <input type="text" class="form-control" id="full-name" placeholder="Enter Full Name"
                        autocomplete="off" formControlName="fullname">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="theme-color-5">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password" />
                    </div>

                    <button type="submit" class="btn theme-bgcolor-2 text-white mt-2">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
