<div class="container content">
  <!-- Container Content -->

  <div class="jumbotron " id="content-box">
                      <h1 class="display-6 theme-color-5">Trainings In Progress</h1>

                      <hr class="my-4">
                      <div class="row result-item theme-bgcolor-3 p-4 text-white">
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              <img src="../assets/course-img.PNG" class="result-item-img"  alt="technoloy-name">
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Course Name
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Total Trainee Count
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Trainee (Completed)
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Trainee (Active)
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Revenue Earned
                          </div>
                      </div>

                      <div class="row result-item theme-bgcolor-3 p-4 text-white">
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              <img src="../assets/course-img.PNG" class="result-item-img"  alt="technoloy-name">
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Course Name
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Total Trainee Count
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Trainee (Completed)
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Trainee (Active)
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-10">
                              Revenue Earned
                          </div>
                      </div>


  </div>
  <!-- Container Content ends -->
        </div>
