<div class="container content">
    <!-- Container Content -->
    <div class="jumbotron" id="content-box">
      <h1 class="display-6 theme-color-5">Users</h1>
      <hr class="my-3" />

      <div class="conatiner ">
        <div class="row result-item theme-bgcolor-3 p-2 text-white">
          <div class="col-lg-4 col-md-4 col-sm-10">
            UserName
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            Full Name
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            <button class="btn theme-bgcolor-2 text-white search-item-btn">Block User</button>
          </div>
        </div>
        <div class="row result-item theme-bgcolor-3 p-2 text-white">
          <div class="col-lg-4 col-md-4 col-sm-10">
            UserName 2
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            Full Name
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            <button class="btn theme-bgcolor-2 text-white search-item-btn">Block User</button>
          </div>
        </div>
      </div>
      <hr class="my-3" />
      <h1 class="display-6 theme-color-5">Mentors</h1>
      <hr class="my-3" />
      <div class="conatiner ">
        <div class="row result-item theme-bgcolor-3 p-2 text-white">
          <div class="col-lg-4 col-md-4 col-sm-10">
            MentorName
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            Full Name
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            <button class="btn theme-bgcolor-2 text-white search-item-btn">Block Mentor</button>
          </div>
        </div>
        <div class="row result-item theme-bgcolor-3 p-2 text-white">
          <div class="col-lg-4 col-md-4 col-sm-10">
            MentorName 2
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            Full Name
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10">
            <button class="btn theme-bgcolor-2 text-white search-item-btn">Block Mentor</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Container Ends -->
  </div>
