<div class="container content">


  <div class="jumbotron " id="profile-box">
    <h1 class="display-6 theme-color-5">Edit Skills</h1>
    <hr class="my-4">
    <!-- Card Entry -->

    <div class="card">

      <div class="card-body theme-color-5">
        <div class="card-text">
          <form action="mentor/home.html">

            <div class="form-group">
              
              <label for="exampleFormControlSelect2">Select Skills</label>
              <div *ngIf="isLoaded">
              <select multiple class="form-control" id="exampleFormControlSelect2"  >
                <!-- <option *ngFor="let mentorSkill of mentorSkills" [value]="mentorSkill">{{mentorSkill.skillName}}</option> -->
                <div *ngFor="let mentorSkill of mentorSkills;let i=index">
                  <option  [class.selected]="selectedSkills[i] == mentorSkills" [value]="mentorSkill.skillName">{{mentorSkill.skillName}}</option>
                </div>
              </select>
            </div>
            </div>

            <button type="submit" class="btn theme-bgcolor-2 text-white mt-2">Save</button>
          </form>
        </div>
      </div>
    </div>







    <!-- Card Exit -->

  </div>

</div>