<div class="container content">
  <div class="row">
    <div class="col-lg-4" id="search-box">
      <div class="jumbotron">
        <h1 class="display-6 theme-color-5">Search Trainings</h1>
        <p class="lead">Search for all Available courses</p>
        <hr class="my-3" />

        <form [formGroup]="SearchForm" (ngSubmit)="SearchTrainer(SearchForm.value)">
          <div class="form-group ">
            <label for="search-input" class="ml-2">Search Technology</label><br />
            <input type="text" placeholder="Search Technology" id="search-input" formControlName="SearchTech" class="form-control " />
          </div>
          <div class="form-group ">
            <label for="from-input" class="ml-2">Date</label><br />
            <input type="date" id="from-input" class="form-control " formControlName="SearchDate" />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect3">Time Slot (Preferred*)</label>
            <select class="form-control " id="exampleFormControlSelect3"  formControlName="SearchTimeSlot">
              <option value="8">8:00 AM - 10:00 AM</option>
              <option value="9">9:00 AM - 11:00 AM</option>
              <option value="10">10:00 AM - 12:00 NOON</option>
              <option value="11">11:00 AM - 1:00 PM</option>
              <option value="12">12:00 NOON - 2:00 PM</option>
              <option value="1">1:00 PM - 3:00 PM</option>
              <option value="2">2:00 PM - 4:00 PM</option>
              <option value="3">3:00 PM - 5:00 PM</option>
              <option value="4">4:00 PM - 6:00 PM</option>
            </select>

          </div>

          <div >
            <button class="btn theme-bgcolor-2 text-white btn-lg" href="#" type="submit">Search</button>
          </div>
        </form>

        
      </div>
    </div>


    <div class="col-lg-8" id="search-result-box">
        <div class="jumbotron">
            <h1 class="display-6 theme-color-5">Search Results</h1>
            <hr class="my-3" />
        <app-result></app-result>
        </div>
    </div>

  </div>
</div>
