<div class="container content">
  <!-- Container Content -->
  <div class="jumbotron " id="content-box">
    <h1 class="display-6 theme-color-5">Payments Log</h1>

    <hr class="my-4">
    <div class="row result-item theme-bgcolor-3 p-4 text-white" *ngFor="let log of PaymentData">
      <div class="col-lg-2 col-md-2 col-sm-10">
        {{log.timestamp}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-10">
        {{log.username}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-10">
        {{log.courseid}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-10">
        [M] {{log.trainername}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-10">
        {{log.paymentamount| currency:"INR"}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-10">
        Commission: {{log.commission| percent}}
      </div>

    </div>
  </div>
  <!-- Container Ends -->
</div>
